@font-face {
  font-family: 'Luna';
  src: url('Luna.eot');
  src: url('Luna.eot?#iefix') format('embedded-opentype'),
       url('Luna.svg#Luna') format('svg'),
       url('Luna.ttf') format('truetype'),
       url('Luna.woff') format('woff'),
       url('Luna.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
}

